@import './components/function';
@import './components/variables';
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;700;800&display=swap');

*, *::before, *::after { margin: 0; }
html        { overflow: hidden; font-family: 'BioRhyme', serif;}
body.dark   { color: $White; }

.container {
    @include background;
    height: 100vh;
}
.container::before {
    @include background;
    background-size: cover;
    position: absolute;
    filter: blur(5px);
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container-box {
    @include background;
    position: absolute;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $Black;
    padding: 40px;
    width: 70%;
    height: 80%;

    .flex {
        display: flex;
        justify-content: space-between;

        .text > div {
            font-weight: 800;
            margin-bottom: 20px;
        }

        .left-side {
            #form {
                #weatherText {
                    width: 160px;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                }
            }
            .text > div:first-child {
                margin-top: 20px;
            }
            .text > div:nth-child(3) {
                margin-top: -20px;
            }
        }
    }

    .description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-weight: 700;
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (max-width: 620px){
    .container {
        .container-box {
            padding: 20px;
            .flex .left-side #form #weatherText {
                width: 110px;
            }
            .description {
                top: 70%;
            }
        }
    }
}
