@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;700;800&display=swap");
*, *::before, *::after {
  margin: 0;
}

html {
  overflow: hidden;
  font-family: 'BioRhyme', serif;
}

body.dark {
  color: #fff;
}

.container {
  background: url("../images/weather.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.container::before {
  background: url("../images/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container-box {
  background: url("../images/weather.jpg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #000;
  padding: 40px;
  width: 70%;
  height: 80%;
}

.container-box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-box .flex .text > div {
  font-weight: 800;
  margin-bottom: 20px;
}

.container-box .flex .left-side #form #weatherText {
  width: 160px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.container-box .flex .left-side .text > div:first-child {
  margin-top: 20px;
}

.container-box .flex .left-side .text > div:nth-child(3) {
  margin-top: -20px;
}

.container-box .description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 620px) {
  .container .container-box {
    padding: 20px;
  }
  .container .container-box .flex .left-side #form #weatherText {
    width: 110px;
  }
  .container .container-box .description {
    top: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */